* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text {
  font-family: Roboto, sans-serif;
  margin-top: 33px;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  transition: 2s;
}

.quote-box {
  width: 600px;
  min-height: 350px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 10px 10px 53px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 53px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 53px 0px rgba(0,0,0,0.75);
}

.text {
  font-family: Roboto, sans-serif;
  padding: 23px;
  transition: 2s;
  
}
.author {
  font-family: roboto, sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: right;
  padding: 23px;
  transition: 2s;
}

.icon-container {
  display: flex;
  justify-items: flex-start;
  margin: 30px;
  font-size: 27px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

button {
  margin: 20px;
  border-radius: 7px;
  font-size: 17px;
  padding: 7px;
}

.tweet-quote {
  margin-right: 12px;
  margin-left: 12px;
}

FiTwitter {
  height: 23px;
}

p {
  color: white;
}
